:root {
  --bgDarkMode: #141821;
  --textDarkMode: white;

  --bgLightMode: white;
  --textLightMode: black;

  --nameG1: #ff94c2;
  --nameG2: #8fc1e3;
  --nameG3: #c0d461;

  --github: #cdb4db;
  --linkedin: #80a8c7;
  --resume: #a9d18e;
  --email: #f4a6d7;
  --darkMode: #faf3c0;
  --lightMode: #ffd8a8;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: var(--bgDarkMode);
  color: var(--textDarkMode);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body.darkMode {
  background-color: var(--bgLightMode);
  color: var(--textLightMode);
}
body.darkMode .navLogo,
body.darkMode .navLink i {
  color: var(--textLightMode);
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.nameGradient,
.jobGradient {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--nameG1),
    var(--nameG2),
    var(--nameG3),
    var(--nameG1)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.intro > h1 {
  padding-left: 25px;
  padding-top: 10%;
  text-align: left;
  font-size: 6vw;
}

.undercon,
.progress {
  font-size: 3vw;
  margin-top: -3vh;
}

@keyframes gradientFlow {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.progressbar {
  width: 90%;
  background-color: transparent;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid var(--textDarkMode);
  position: relative;
  overflow: hidden;
  height: 40px;
}

body.darkMode .progressbar {
  border: 2px solid var(--textLightMode);
}

canvas#vialCanvas {
  width: 100%;
  height: 100%;
}

.icons {
  margin: 50px;
}

.navLink {
  margin: 0 5%;
  font-size: 24px;
  color: var(--textDarkMode);
  position: relative;
}

.navLink::before {
  content: attr(data);
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  color: white;
  white-space: nowrap;
}

body.darkMode .navLink:hover::before {
  color: var(--textLightMode);
}

.navLink:hover::before {
  opacity: 1;
}

i {
  color: var(--textDarkMode);
  transition: transform 0.3s 0.1s, color 0.3s;
  border-radius: 25%;
  background: transparent;
}

#github i:hover,
#linkedin i:hover,
#resume i:hover,
#email i:hover,
#darkMode i:hover {
  transform: scale(1.1);
}

#github i:hover {
  color: var(--github);
}

#linkedin i:hover {
  color: var(--linkedin);
}

#resume i:hover {
  color: var(--resume);
}

#email i:hover {
  color: var(--email);
}

#darkMode i:hover {
  color: var(--darkMode);
}

body.darkMode #darkMode i:hover {
  color: var(--lightMode);
}

footer {
  font-size: clamp(11px, 1vw, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}
